<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2>Sofía Sojo</h2>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2>Paula Bernstein</h2>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2>Francesco Scaglioni</h2>
                </article>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->