<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head.ejs")%>

<body>
	
	<%- include("./partials/header.ejs")%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<main class="register">
				<form class="form_register" action= "/olduser" method="post" >

					<div>
						<label for="email"><b>Email</b></label>
						<input type="email" name="email" id="email" placeholder="Escriba tu email" required>
					</div>
					<div>
						<label for="password"><b>Password</b></label>
						<input type="password" name="password" id="password" placeholder="Escriba tu contraseña" required>
					</div>
					<div>
						<label for="recordarme"><b>Recordarme</b></label>
						<input type="checkbox" name="recordarme" id="recordarme">
					</div>

				<button type="submit"> <b>Enviar</b> </button>
					
				</form>
			</main>
			</h2>
		</div>
	</div>
			
	<%- include("./partials/footer.ejs")%>

</body>

</html>