<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="https://1000logos.net/wp-content/uploads/2017/06/Color-Swatch-Logo.jpg" />

	<title> Swatch Argentina </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>

<body>
	
	<%- include("./partials/header.ejs")%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<main class="register">
				<form class="form_register" action= "/" method="get" >

					<div>
						<label for="usuario"><b>Usuario</b></label>
						<input type="text" name="usuario" id="usuario" placeholder="Escriba tu usuario" required>
					</div>
					<div>
						<label for="password"><b>Password</b></label>
						<input type="password" name="password" id="password" placeholder="Escriba tu contraseña" required>
					</div>
					<div>
						<label for="recordarme"><b>Recordarme</b></label>
						<input type="checkbox" name="recordarme" id="recordarme">
					</div>

				<button type="submit"> <b>Enviar</b> </button>
					
				</form>
			</main>
			</h2>
			
	<%- include("./partials/footer.ejs")%>

</body>

</html>