<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head.ejs")%>

<body>
	
	<%- include("./partials/headerLogueado.ejs")%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<main class="register">
					<form class="form_register" method="get" enctype="multipart/form-data">
						<div>
							<label for="imagen"><b>Imagen</b></label>
							<input class="foto" type="file" name="imagen" id="imagen" required>
						</div>
						<div>
							<label for="nombre"><b>Nombre del producto</b></label>
							<input type="text" name="nombre" id="nombre" placeholder="Escriba el nombre del producto" required>
						</div>
						<div>
							<label for="descripcion"><b>Descripcion</b></label>
							<input type="text" name="descripcion" id="descripcion" placeholder="Escriba la descripcion del producto" required>
						</div>
					<button type="submit"> <b>Enviar</b> </button>
						
					</form>
				</main>
			</h2>
		</div>
	</div>	
	<%- include("./partials/footer.ejs")%>

</body>

</html>