<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>

<body>
	
	<%- include("./partials/header.ejs")%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			<main class="register">
				<form class="form_register" method="get" enctype="multipart/form-data">
					<div>
						<label for="email"><b>Email</b></label>
						<input type="email" name="email" id="email" placeholder="Escriba tu email" required>
					</div>
					<div>
						<label for="usuario"><b>Usuario</b></label>
						<input type="text" name="usuario" id="usuario" placeholder="Escriba tu usuario" required>
					</div>
					<div>
						<label for="contrase単a"><b>Password</b></label>
						<input type="password" name="contrase単a" id="contrase単a" placeholder="Escriba tu contrase単a" required>
					</div>
					<div>
						<label for="fecha_nacimiento"><b>Fecha de nacimiento</b></label>
						<input type="date" name="fecha_nacimiento" id="fecha_nacimiento" placeholder="Escriba tu fecha de nacimiento" required>
					</div>
					<div>
						<label for="DNI"><b>DNI</b></label>
						<input type="number" name="DNI" id="DNI" placeholder="Escriba tu DNI" required>
					</div>
					<div>
						<label for="foto_perfil"><b>Foto de perfil</b></label>
						<input class="foto" type="file" name="foto_perfil" id="foto_perfil" placeholder="Escriba tu DNI" required>
					</div>
					
				<button type="submit"> <b>Enviar</b> </button>
					
				</form>
			</main>
		</h2>
		</div>
	</div>
	<%- include("./partials/footer.ejs")%>

</body>

</html>