<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head.ejs")%>

<body>
	
	<%- include("./partials/header.ejs")%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			<main class="register">
				<form class="form_register" action="/newuser" method="post" >
					<div>
						<label for="usuario"><b>Nombre de usuario</b></label>
						<input type="text" name="usuario" id="usuario" placeholder="Escriba tu usuario" required>
					</div>
					<div>
						<label for="email"><b>Email</b></label>
						<input type="email" name="email" id="email" placeholder="Escriba tu email" required>
					</div>
					<div>
						<label for="contraseña"><b>Password</b></label>
						<input type="password" name="password" id="password" placeholder="Escriba tu contraseña" required>
					</div>
					<div>
						<label for="fecha_nacimiento"><b>Fecha de nacimiento</b></label>
						<input type="date" name="fecha_nacimiento" id="fecha_nacimiento" placeholder="Escriba tu fecha de nacimiento" required>
					</div>
					<div>
						<label for="DNI"><b>DNI</b></label>
						<input type="number" name="DNI" id="DNI" placeholder="Escriba tu DNI" required>
					</div>
					<div>
						<label for="foto_perfil"><b>Foto de perfil</b></label>
						<input type="file" name="foto_perfil" id="foto_perfil" required>
					</div>
					
				<button type="submit"> <b>Enviar</b> </button>
					
				</form>
			</main>
		</h2>
		</div>
	</div>
	<%- include("./partials/footer.ejs")%>

</body>

</html>